:root {
    --thm-font: 'Barlow', sans-serif;
    --heading-font: 'Amatic SC';
    --thm-base: #d90d0d;
    --thm-base-rgb: 217,13,13;
    --thm-primary: #ffd240;
    --thm-primary-rgb: 255, 210, 64;
    --thm-black: #150101;
    --thm-black-rgb: 21,1,1;
    --thm-gray: #f3f5f9;
    --thm-gray2: #f2f4f8;
    --thm-text: #848895;
}